# Ignore everything by default
*

# Always keep this file
!.gitignore

# Allow project folder
!project/

# Allow build but ignore its contents by default
!project/build/
project/build/*

# Allow only these subfolders inside build (recursively)
!project/build/content/**
!project/build/tikz/**

# Keep the root notebook
!01.ipynb

# Keep the compiled PDF
!project/build/main.pdf

# Keep the custom LaTeX class and config
!project/config/
!project/config/report_type.cls
