# Ignorar entornos virtuales y dependencias
.venv/
__pycache__/
*.pyc

# Ignorar LaTeX intermedios
build/
*.aux
*.log
*.out
*.toc

# Ignorar config internos
config/
content/
tikz/

# Mantener PDF final y notebooks
!project/build/main.pdf
!*.ipynb